#sidebar-wrapper {
  background-color: #2C3E50;
  display: block;
  height: 100%;
  list-style: none;
  position: absolute;
  width: 0;
}
.sidebar-nav {
  list-style: none;
  padding: 0;
}
.sidebar-nav a {
  border-bottom: 1px solid black;
  display: block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
.sidebar-nav a li {
  color: white;
  font-size: 20px;
}
.sidebar-nav a:hover {
  background-color: green;
}
.sidebar-nav .active {
  background-color: green;
  color: white;
  font-size: 25px;
  text-align: center;
  height: 40px;
  border-bottom: 1px solid black;
}
#main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper.displayMenu #sidebar-wrapper {
  width: 200px;
  position: fixed;
}
#wrapper.displayMenu #main-content {
  padding-left: 200px;
}
#toggleMenu {
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
}
.social-icons {
  padding-left: 20px;
  vertical-align: bottom;
}
.social-icons li {
  display: inline;
}
.top {
  background-color: azure;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.top h3 {
  margin: auto;
  font-weight: bold;
  font-size: 40px;
}
.logo {
  margin-left: 5em;
}
.search {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.item img {
  max-height: 700px;
  width: 100%;
}
.carousel-caption {
  background-color: green;
  opacity: 0.5;
}
.carousel-caption h3 {
  opacity: 1;
}
.about p {
  border: 1px solid green;
  font-size: 20px;
}
.statements h2 {
  text-align: center;
}
.statements p {
  border: 2px solid green;
}
.calltoaction {
  background-color: limegreen;
}
.calltoaction h2 {
  text-align: center;
}
footer {
  background-color: #2C3E50;
  color: white;
}
footer p {
  text-align: center;
}
