@font-face {
  font-family: 'Halflings-Regular';
  src: url(../fonts/glyphicons-halflings-regular.ttf);
}
@font-face {
  font-family: 'Dosis-Medium';
  src: url(../fonts/Dosis-Regular.ttf);
}
body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}
p {
  font-size: 15px;
  color: #777;
  line-height: 1.5em;
}
#sidebar-wrapper {
  background-color: #2C3E50;
  display: none;
  height: 100%;
  list-style: none;
  position: absolute;
  width: 0;
}
.sidebar-nav {
  list-style: none;
  padding: 0;
}
.sidebar-nav a {
  border-bottom: 1px solid black;
  display: block;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}
.sidebar-nav a li {
  color: white;
  font-size: 20px;
}
.sidebar-nav a:hover {
  background-color: green;
}
.sidebar-nav .active {
  background-color: green;
  color: white;
  font-size: 25px;
  text-align: center;
  height: 40px;
  border-bottom: 1px solid black;
}
#main-content {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper.displayMenu #sidebar-wrapper {
  width: 200px;
  position: fixed;
  display: block;
}
#wrapper.displayMenu #main-content {
  padding-left: 200px;
}
#toggleMenu {
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
  z-index: 1;
}
.social-icons {
  padding-left: 20px;
  margin-bottom: 0;
}
.social-icons li {
  display: inline;
}
.top {
  background-color: azure;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.top h3 {
  margin: auto;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Dosis-Medium';
}
.logo {
  margin-left: 5em;
}
.search {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
/*Slider*/
.banner {
  background: url(../images/bulb.jpg) no-repeat center 0px;
  height: 700px;
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 20em;
}
.slider {
  position: relative;
  text-align: center;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Halflings-Regular';
  font-weight: bold;
}
.rslides h2 {
  color: #fff;
  font-size: 5em;
  width: 92%;
  margin: 0 auto;
  letter-spacing: 0;
  text-transform: uppercase;
}
.rslides h3 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 1em;
  text-transform: uppercase;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 11px;
  width: 11px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
}
.callbacks_tabs a {
  visibility: hidden;
}
.callbacks_tabs li {
  display: inline-block;
}
.callbacks_here a:after {
  border: 2px solid #FFF;
  background: transparent;
}
ul.callbacks_tabs.callbacks1_tabs {
  position: absolute;
  bottom: -100%;
  z-index: 999;
  left: 44%;
}
/*End of Slider. Start of body*/
.centerBlock {
  display: table;
  margin: 0 auto;
  float: none;
}
.vertical-align {
  display: flex;
  flex-direction: row;
}
.vertical-align > [class^="col-"],
.vertical-align > [class="col-"] {
  display: flex;
  /* Align the flex-items vertically*/
  justify-content: center;
  /*Align inner flex-items horizontally within the column*/
  vertical-align: middle;
}
.about {
  padding: 20px;
}
.about h3 {
  font-family: 'Dosis-Medium';
  font-weight: bold;
  color: green;
}
.statements {
  font-family: 'Dosis-Medium';
  padding-bottom: 3em;
}
.statements h2 {
  text-align: center;
  color: green;
}
.statements p {
  margin: 2.7em 0 0.5em 0;
  font-size: 1.3em;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
.statements p:hover {
  font-size: 1.5em;
}
.calltoaction {
  background-color: limegreen;
  font-family: 'Dosis-Medium';
  text-align: center;
  color: white;
}
.calltoaction p {
  color: white;
  font-size: 1.2em;
}
.calltoaction .modal {
  color: black;
}
.calltoaction .modal p {
  color: black;
}
.partners h2 {
  text-align: center;
  color: green;
  font-family: 'Dosis-Medium';
}
.partners ul {
  list-style: none;
}
.partners li {
  display: inline;
}
.partners img {
  max-height: 200px;
  max-width: 300px;
  padding: 0 50px;
  transition: 0.5s;
  vertical-align: middle;
}
.partners img:hover {
  transform: translateY(10px);
}
.contact {
  margin: 10px;
}
.contact h2 {
  text-align: center;
  font-family: 'Dosis-Medium';
  color: green;
}
.contact form {
  display: block;
}
.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
  outline: none;
  width: 100%;
  padding: 12px 10px;
}
.contact textarea {
  margin: 0 0 0.2em;
  height: 150px;
  resize: none;
}
.contact input[type="email"] {
  margin: 0.5em 0;
}
.contact input[type="submit"] {
  width: 100%;
  margin: auto;
  height: 35px;
  border: none;
  outline: none;
  background-color: green;
  color: white;
}
.contact input[type="submit"]:hover {
  background-color: white;
  color: green;
  border: 2px solid green;
}
.contact ul {
  list-style: none;
}
.contact li,
.contact a {
  font-size: 1.5em;
}
.contact .address {
  margin: 2em 0;
}
.contact span {
  font-size: 2em;
  float: right;
}
.contact .text {
  font-family: 'sans-serif';
  text-align: left;
}
#map {
  height: 100%;
  position: absolute;
}
footer {
  background-color: #333;
}
footer p {
  text-align: center;
  color: white;
}
/*Responsive design*/
@media (max-width: 991px) {
  .logo {
    max-height: 40px;
    max-width: 40px;
  }
  .banner {
    max-width: 991px;
  }
  .contact {
    margin: 50px;
  }
}
@media (max-width: 480px) {
  .top h3 {
    font-size: 30px;
  }
  .about p {
    font-size: 15px;
  }
  .search {
    max-height: 20px;
    max-width: 20px;
    margin-left: 0;
  }
  #toggleMenu {
    max-height: 20px;
    max-width: 20px;
  }
  .logo {
    margin-left: 3em;
  }
  .banner {
    max-width: 480px;
    max-height: 300px !important;
    padding-top: 6em;
  }
  .rslides h2 {
    font-size: 2em;
  }
  .rslides h3 {
    font-size: 1em;
    margin-top: 0.5em;
  }
  .about p {
    font-size: 17px;
  }
  .statements {
    font-size: 10px;
  }
  .calltoaction img {
    max-height: 250px;
  }
}
@media (max-width: 425px) {
  html,
  body {
    overflow-x: hidden;
  }
}
